body{

    margin:0;

    background:#F6F4F1;

    font-family:'Segoe UI',sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-card{

    width:420px;

    background:white;

    padding:45px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 12px 35px rgba(0,0,0,.12);

    border-top:6px solid #C8A24A;

}

.logo{

    width:220px;

    margin-bottom:25px;

}

h2{

    color:#8B1E2D;

    margin-bottom:5px;

}

p{

    color:#666;

    margin-bottom:30px;

}

label{

    display:block;

    text-align:left;

    font-weight:600;

    margin-bottom:8px;

    margin-top:18px;

}

input{

    width:100%;

    padding:14px;

    border:1px solid #DDD;

    border-radius:10px;

    font-size:15px;

    box-sizing:border-box;

}

input:focus{

    outline:none;

    border-color:#8B1E2D;

}

button{

    width:100%;

    margin-top:30px;

    background:#8B1E2D;

    color:white;

    border:none;

    padding:15px;

    border-radius:10px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#6B1020;

}

.error{

    background:#F8D7DA;

    color:#842029;

    padding:12px;

    border-radius:8px;

    margin-bottom:20px;

}
