<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Admin Login

</title>

<link
rel="stylesheet"
href="{{ url_for('static', filename='admin_login.css') }}">

</head>

<body>

<div class="login-card">

<img
src="{{ url_for('static', filename='logo.png') }}"
class="logo">

<h2>

Relationship Manager Portal

</h2>

<p>

Anand Rathi Preferred

</p>

{% if error %}

<div class="error">

{{ error }}

</div>

{% endif %}

<form method="POST">

<label>

Username

</label>

<input
type="text"
name="username"
required>

<label>

Password

</label>

<input
type="password"
name="password"
required>

<button type="submit">

Login

</button>

</form>

</div>

</body>

</html>
